# Omit config files
config/config.yml

# Omit gems
*.gem

# Omit RVM startup files
.ruby-*

# Omit Gemfile Lock
Gemfile.lock

# Omit RSpec related files
.rspec

# Omit doc files (for now)
docs/

# Omit log files
logs/
